.particles {
  position: fixed;
  right: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

/* beranda */
.box__about{
  margin: 10px auto;
  width: 400px;
  padding: 10px;
  text-align: center;
}

.box__image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block; 
  margin: auto;
}


/* 
responsive
----------
*/

@media only screen and (max-width: 767px) {
  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}